<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Country: {{ten_nuoc}}</h1>
    <h1>Capital: {{thu_do}} </h1>
    <h1>Population: {{Pdan_so}}</h1>
    <h1>Location: {{vi_tri}}</h1>
    <h1>Popular sports: {{monthethaodcyeuthich}}</h1>
    <a href="/hanoi">Link to HN page</a>
    <img src="{{anh}}" alt="">
</body>
</html>
